
body {
    font-family: 'Cairo', sans-serif;

    background-image: url('images/background.jpg');
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;     
    background-attachment: fixed;    
    text-align: center;
    color: #333;
    padding: 20px;
}

h1 {
    color: #ffffff;
}

.egg-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.egg {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.egg:hover {
    transform: translateY(-10px);
}

.egg img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.egg button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background-color: #4a1b4f;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.egg button:hover {
    background-color: #ffffff;
}

#result-container {
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    min-height: 100px;
    display: inline-block;
    width: 80%;
    max-width: 500px;
}

#final-result h3 {
    font-size: 28px;
    margin: 10px;
}
