body {
    font-family: 'Cairo', sans-serif;
    background-image: url('images/background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 25px;
    margin: 0;
}

.game-container {
    max-width: 1000px;
    margin: 30px auto;
}

.subtitle {
    color: rgba(255, 255, 255, 0.5 );
    font-size: 20px;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
}

/* خانات البيانات فوق */
.user-info-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
    text-align: right;
    max-width: 600px;
    margin: 0 auto 30px auto; 
    display: flex;
    gap: 15px; 
    flex-wrap: wrap;
}

.input-group {
    flex: 1;
    min-width: 250px;
}

.input-group label {
    display: block;
    font-weight: bold;
    color: #4a4e69;
    margin-bottom: 6px;
    font-size: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #f5ff82; 
    outline: none;
}

/* حاوية المربعات */
.egg-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* الكارت المربع الملموم */
.egg-card {
    background-color: rgba(255, 255, 255, 0.88);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden; /* بيحافظ على الصورة جوه الكارت */
}

.egg-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.egg-image {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
}

.egg-card h3 {
    color: #4a4e69;
    margin: 5px 0 20px 0;
    font-size: 1.4em;
}

/* أزرار الفتح */
.open-egg-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4a4e69;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.open-egg-btn:hover {
    background-color: #22223b;
}

#result-container {
    margin: 40px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    max-width: 500px;
}
